@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;0,800;0,900;1,900&display=swap");

/*whole page styling and colour vairables*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

:root {
  --bg-colour: #222327;
  --text-colour: #fff;
  --main-colour: #29fd53;
  --hover-colour: #0088a9;
  --big-font: 5rem;
  --h2-font: 3rem;
  --p-font: 1rem;
}

.logo {
  color: var(--text-colour);
  font-size: 35px;
  font-weight: 800;
  letter-spacing: 5px;
}

span {
  color: var(--hover-colour);
}

body {
  background: var(--bg-colour);
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 22px 15%;
  border-bottom: 1px solid transparent;
  transition: all 0.45s ease;
}

.nav-bar-list {
  display: flex;
}

.nav-bar-list a {
  color: var(--text-colour);
  font-size: 17px;
  font-weight: 500;
  margin: 0 25px;
  transition: all 0.45s ease;
}

.nav-bar-list a:hover {
  color: var(--hover-colour);
  font-size: 20px;
}

.nav-bar-list a.active {
  color: var(--hover-colour);
}

#menu-icon {
  cursor: pointer;
  z-index: 10001;
  margin-left: 25px;
}

/* 
styling for introsection */

.intro-section h2 {
  color: var(--text-colour);
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translate(-50%);
}

@media (max-width: 600px) {
  .nav-bar-list a {
    display: none;
  }
}
