@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;0,800;0,900;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital@1&family=Playfair+Display:ital,wght@1,500&display=swap");
/* font-family: 'Libre Bodoni', serif; */
/* font-family: 'Playfair Display', serif; */
/*whole page styling and colour vairables*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  color: var(--text-colour);
}

/*setting root colours*/

:root {
  --bg-colour: #222327;
  --text-colour: #fff;
  --main-colour: #29fd53;
  --hover-colour: #0088a9;
  --big-font: 5rem;
  --h2-font: 3rem;
  --p-font: 1rem;
}

/*************************************/
/*styling for logo and setting colours and background*/
/*************************************/

.logo {
  color: var(--text-colour);
  font-size: Clamp(1rem, 1rem + 2.5vw, 3rem);
  font-weight: 800;
  letter-spacing: 5px;
}

span {
  color: var(--hover-colour);
}

body {
  background: var(--bg-colour);
}

/*************************************/
/*styling for fixed nav bar*/
/*************************************/

header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-colour);
  padding: 20px 5%;
  border-bottom: 1px solid transparent;
  transition: all 0.45s ease;
}

.nav-bar-list {
  display: flex;
}

.nav-bar-list a {
  color: var(--text-colour);
  font-size: 17px;
  font-weight: 500;
  margin: 0 25px;
  padding: 50px;
  transition: all 0.45s ease;
}

.nav-bar-list a:hover {
  color: var(--hover-colour);
  font-size: 20px;
}

.nav-bar-list a.active {
  color: var(--hover-colour);
}

#menu-icon {
  cursor: pointer;
  z-index: 10001;
  margin-left: 25px;
  display: none;
}

/*************************************/
/*styling for intro section*/
/*************************************/

.intro-section {
  display: flex;
  margin-top: 100px;
  padding: 0 10%;
  justify-content: space-between;
}

.intro-section h3 {
  color: var(--hover-colour);
}

.intro-section h2 {
  color: var(--text-colour);

  font-size: 4rem;
  font-family: "Playfair Display", serif;
  font-weight: 400;
}
.intro-div2 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.intro-div2 img {
  border-radius: 5px;
  flex: 1;
  max-width: 500px;
}

.intro-section p {
  font-size: 1rem;
}

/*************************************/
/*media Queries*/
/*************************************/

@media (max-width: 830px) {
  .nav-bar-list {
    display: none;
  }

  #menu-icon {
    display: flex;
  }
}

@media (max-width: 600px) {
  .nav-bar-list a {
    display: none;
  }
}

/*************************************/
/**/
/*************************************/
